@import url("../hypr/colors.css");
@import url("custom_style.css")

* {
    font-family: 'JetBrainsMono Nerd Font Propo';
    min-height: 0;
}


window#waybar {
    background: alpha(@bg, 0.5);

    border-radius: 15px;
    border: 1px solid alpha(@border_color, 0.3);
}
window#waybar #tray,
window#waybar #clock, 
window#waybar #language,
window#waybar #wireplumber, 
window#waybar #workspaces,
window#waybar #taskbar{
    background-color: alpha(@surface_hover, 0.5);

    padding: 0px 10px;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;


    border-radius: 10px;

    font-size: 20px;
    color: @text; 
}

/* tray */
window#waybar #tray{
}
/* taskbar */
/* workspaces */
window#waybar #workspaces {
    padding: 5px 5px;
}

window#waybar #workspaces button.active{
    background: alpha(@active_bg, 0.7);
}

window#waybar #workspaces button:hover{
    background: alpha(@active_hover, 0.7);
}
/* wireplumber */
/* language */
/* clock */
